:root,body{margin:0;padding:0;height:100%;width:100%;display:flex;flex-direction:column}app-root{flex:1}.content{padding:5rem 2rem 0}@media print{.content{padding:0}footer{display:none!important}html,body{width:210mm;height:297mm}}
