<nav class="navbar navbar-expand fixed-top navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Koen Van Aken</span>
  <div class="nav navbar-nav">
    <a
      class="nav-item nav-link"
      routerLink="/home"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Curriculum</a
    >
    <a
      class="nav-item nav-link"
      routerLink="/games"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Games</a
    >
  </div>
</nav>
<div class="content"><router-outlet /></div>
