/* You can add global styles to this file, and also import other style files */
:root,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

app-root {
  flex: 1;
}

.content {
  padding: 5rem 2rem 0 2rem;
}

@media print {
  /* Remove the page padding when printing */
  .content {
    padding: 0;
  }

  footer {
    display: none !important;
  }

  html,
  body {
    width: 210mm;
    height: 297mm;
  }
}
