<button class="export-btn" (click)="exportPdf()" title="Export page to PDF">
  Export PDF
</button>
<div id="layout">
  <aside id="sidebar">
    <div id="heading">
      <img class="rounded float-start" src="cv_photo.jpg" alt="Koen Van Aken" />
      <div id="info">
        <h1>Koen Van Aken</h1>
        <div>
          <div>
            <i class="fas fa-envelope"></i>
            <a href="mailto:koen.vanaken@hotmail.be"
              >koen.vanaken&#64;proton.me</a
            >
          </div>
          <div>
            <i class="fas fa-phone"></i>
            <a href="tel:+32470361088">+32 470 36 10 88</a>
          </div>
          <div>
            <i class="fab fa-linkedin"></i>
            <a href="https://www.linkedin.com/in/koenva"
              >linkedin.com/in/koenva</a
            >
          </div>
          <div><i class="fas fa-car"></i> <span>Rijbewijs B</span></div>
        </div>
      </div>
    </div>

    <section id="skills">
      <h2>Vaardigheden</h2>
      @for (skill of skills; track skill) {
      <div>
        <h4>{{ skill.skill }}</h4>
        <div class="bar">
          <div [ngStyle]="{ width: skill.value }"></div>
        </div>
      </div>
      }
    </section>

    <section id="languages">
      <h2>Talen</h2>
      @for (language of languages; track language) {
      <div>
        <h4>{{ language.language }}</h4>
        <div class="bar">
          <div [ngStyle]="{ width: language.value }"></div>
        </div>
      </div>
      }
    </section>

    <section id="hobbies">
      <h2>Hobby's en interesses</h2>
      <ul>
        <li>Studentenvereniging</li>
        <li>Gaming</li>
        <li>Jeugdbeweging</li>
      </ul>
    </section>
  </aside>

  <main id="main">
    <section id="training">
      <h2>Opleidingen</h2>
      @for (training of trainings; track training) {
      <div class="card">
        <div class="card-body">
          <p class="fs-5">{{ training.timePeriod }}</p>
          <h4 class="card-title">{{ training.name }}</h4>
          <p class="location">{{ training.location }}</p>
          <p class="card-text">
            {{ training.description }}
          </p>
        </div>
      </div>
      }
    </section>

    <section id="career">
      <h2>Werkervaring</h2>
      @for (job of jobs; track job) {
      <div class="card">
        <div class="card-body">
          <p class="fs-5">{{ job.timePeriod }}</p>
          <h4 class="card-title">{{ job.name }}</h4>
          <p class="location">{{ job.location }}</p>
          <p class="card-text">
            {{ job.description }}
          </p>
        </div>
      </div>
      }
    </section>
  </main>
</div>
